SUBSYSTEM=="tty", ATTRS{idVendor}=="0404", ATTRS{idProduct}=="0312", SYMLINK+="ncr7198", GROUP="dialout", MODE="0660", RUN+="/usr/bin/stty -F /dev/%k raw -echo -ixon -ixoff -crtscts"
